* {
  margin: 0;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #8e9eb1;
}

main{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

section{
  margin: 0 10px 0 10px;
}

.texto_desencriptado, .divtext1, .buttons{
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.buttons{
  padding: 30px;
}

.texto_desencriptado{
  outline: none;
  margin: auto;
  width: 500px;
  height: 300px;
  font-size: 30px;
  border-color: transparent;
  background-color: rgb(63, 34, 192);
  border-radius: 12px;
  padding: 20px;
  resize: none;
  text-transform: lowercase;
}

.divtext1 p{
  font-weight: bolder;
  font-size: 12px;
}

.divtext1, .buttons{
  translate: 1px -39px;
  background: transparent;
}

.encriptado_btn{
  border: transparent;
  font-size: 30px;
  border-radius: 24px;
  cursor: pointer;
  height: 70px;
  width: 300px;
  margin-right: 4px;
}

.desencriptado_btn{
  border: transparent;
  font-size: 30px;
  border-radius: 24px;
  cursor: pointer;
  height: 70px;
  width: 300px;
  margin-left: 4px;
}

.encriptado_btn:hover, .desencriptado_btn:hover, .copia_btn:hover{
  box-shadow: .5rem .5rem 1rem rgb(190, 52, 52),
  -.5rem -.5rem 1rem #7e4141;
}

.desencriptado_btn:active, .copia_btn:active{
  box-shadow: inset  .2rem 1rem rgb(62, 62, 146),
  inset -.2rem -.2rem 1rem #8b4949;
}

.encriptado_btn:active{
  box-shadow: inset  .2rem 1rem rgb(139, 121, 121),
  inset -.2rem -.2rem 1rem #8f8888;
}

.encriptado_btn, .desencriptado_btn, .copia_btn{
  transition: all 1s ease;
  box-shadow: .5rem .5rem 1rem #341b8f,
  -.5rem -.5rem 1rem rgb(69, 50, 155);
}

.texto_encriptado{
  outline: none;
  width: 476px;
  height: 438px;
  font-size: 30px;
  border-color: transparent;
  background-color: rgb(63, 34, 192);
  border-radius: 12px;  
  padding: 20px;
  resize: none;
  text-transform: lowercase;
  background-image: url(img/muñeco.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:auto;
}

.copia_btn{
  border: transparent;
  background-color: rgb(77, 77, 143);
  font-size: 30px;
  border-radius: 14px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  translate: 0 -81px;
}

.contenedor_para_copia, .texto_encriptado{
  display: flex;
  justify-content: center;
  padding-right: 30px;
}